body {
	background: #fff;
	font: 18px 'Lucida Grande', 'Calibri', Helvectica, Arial, sans-serif;
	color: #333;
}

h1 {
	font-family: 'Lucida Grande', 'Calibri', Helvectica, Arial, sans-serif;
	color: #222;
	font-weight: 200;
	font-size: 38px;
	line-height: 1.2; 
}

.date {
	font-size: 12px;
	color: #666;
}

.container {
	margin: 0 auto;
	max-width: 740px;
	padding: 0 10px;
	width: 100%;
}

nav {
	float: right;
	margin-top: 23px;
}

a {
	text-align: right;
	color: #2A5DB0;
}

.posts > .post {
	padding-bottom: 2em;
	border-bottom: 1px solid #888;
}

.posts > .post:last-child {
	padding-bottom: 1em;
	border-bottom: none;
}

blockquote {
	margin: 1.8em .8em;
	border-left: 2px solid #666;
	padding: 0.1em 1em;
	color: #666;
	font-size: 16px;
	font-style: italic;
}